<!-- src/app/add-book/add-book.component.html -->
<div class="container">
  <h2>Ajouter un Livre</h2>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" id="name" formControlName="name" class="form-control" />
      <div *ngIf="bookForm.get('name')?.invalid && bookForm.get('name')?.touched" class="text-danger">
        Le nom est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" id="type" formControlName="type" class="form-control" />
      <div *ngIf="bookForm.get('type')?.invalid && bookForm.get('type')?.touched" class="text-danger">
        Le type est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="editeur">Éditeur</label>
      <input type="text" id="editeur" formControlName="editeur" class="form-control" />
      <div *ngIf="bookForm.get('editeur')?.invalid && bookForm.get('editeur')?.touched" class="text-danger">
        L'éditeur est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="auteur">Auteur</label>
      <input type="text" id="auteur" formControlName="auteur" class="form-control" />
      <div *ngIf="bookForm.get('auteur')?.invalid && bookForm.get('auteur')?.touched" class="text-danger">
        L'auteur est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="dateDePublication">Date de Publication</label>
      <input type="date" id="dateDePublication" formControlName="dateDePublication" class="form-control" />
      <div *ngIf="bookForm.get('dateDePublication')?.invalid && bookForm.get('dateDePublication')?.touched" class="text-danger">
        La date de publication est requise.
      </div>
    </div>

    <div class="form-group">
      <label for="photo">Photo</label>
      <input type="file" id="photo" (change)="onFileSelected($event)" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid">Ajouter Livre</button>
  </form>
</div>
